[submodule "www/less/lib/bootstrap"]
	path = www/less/lib/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "www/js/libs/jQuery-Autocomplete"]
	path = www/js/libs/jQuery-Autocomplete
	url = https://github.com/devbridge/jQuery-Autocomplete.git
[submodule "plugins-dev/DatePicker"]
	path = plugins-dev/DatePicker
	url = https://github.com/Cup-a-SEP/com.dileep.plugins.datepicker.git
