*.class
*.pyc
*.pyo

.project

*.db
.DS_Store
._*

platforms/
plugins/android.json

node_modules/
_build*
_run*

!platforms/android/libs/backgroundserviceplugin-3.0.0.jar
!platforms/android/src/nl/cup_a_sep/ovalarm/*
!platforms/android/src/org/apache/cordova/statusBarNotification/*
