@import "lib/bootstrap/less/bootstrap.less";
@import "views/planner.less";
@import "views/results.less";
@import "views/info.less";
@import "views/itinerary.less";
@import "views/menu.less";


body {
	background: rgb(245,240,236);
}

.btn-primary {
	background-color: rgb(184, 178, 173);
	border-color: rgb(167, 160, 154);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: rgb(172, 166, 160);
	border-color: rgb(167, 160, 154);
}