form#planner {
	padding:0 10px;
	#done {
		// moved to the top with negative margin to not disrupt the center aligned text of the title
		margin-top: -36px;
		// moved to the right with negative margin to not disrupt form padding
		margin-right:-10px;
	}
	.container .row {
		margin-right: 0;
		.col-xs-8 {
			padding-left: 0px;
		}
		.col-xs-4 {
			padding:0;
		}
	}
	label.arrdep {
		margin:0;
		padding: 7px 2px;
		&.active {
			font-weight: bold;
		}
	}
	input[type="radio"] {
		display: none;
	}

	.tooltip-arrow-line {
		position: relative;
		width: 100%;
		border-top:rgb(221, 221, 221) 1px solid;
		// modification of tooltip.less
		.arrow {
			position: absolute;
			width: 0;
  			height: 0;
			border-color: transparent;
  			border-style: solid;
  			left:50%;
			margin-left: -@tooltip-arrow-width;
	    	border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
	    	border-top-color: @tooltip-arrow-color;
		}
	}
}

.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .autocomplete-suggestion {
    display: block;
    padding: 6px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    .text-overflow();

    &:hover, &.autocomplete-selected {
      color: #ffffff;
      text-decoration: none;
      background-color: @mainhighlightcolor;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}