section#results {
	padding:10px;
	.result {
		border-bottom:rgb(221, 221, 221) 1px solid;
		.row {
			margin-right: 0;
		}
		.row > div {
			.text-overflow();
		}
		.btn-fake {
			padding-left: 0;
		}
	}
}